body {
    background-color: #becbfa;
    color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.page {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url('../assets/pageAssets/topCornerVectorYellow.png') top left
        no-repeat;
    background-size: 60vw;
}

.css-test {
    margin: 0;
    padding: 0;
}
