.about-nav{
    background-color: black;
    width: 100%;
}

.about-section{
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.about-text{
    font-family: Unna;
    line-height: 125.25%;
}

.svg-header{
    max-width: 100vw;
}

.top {
    margin-top: 60px;
}

.bottom {
    margin-bottom: 60px;
}

.custom-link{
    text-decoration: none;
    /* color: #ffe800;  */
    color: #B0BFF7;
}